---
import Welcome from "../../components/Welcome.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import * as m from "../../paraglide/messages.js";
---

<BaseLayout>
  <Welcome />
  <div>{m.home()}</div>
  <div>{m.about()}</div>
</BaseLayout>
